<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyNoteApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNote">
        <activity
            android:name=".ui.aiDemo.AiActivity"
            android:exported="true"
            android:label="@string/title_activity_ai_activity.kt"
            android:theme="@style/Theme.MyNote" />
            
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyNote" />
            
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:label="登录"
            android:theme="@style/Theme.MyNote" />
            
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.MyNote.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".DatabaseTestActivity"
            android:exported="false"
            android:label="数据库测试"
            android:theme="@style/Theme.MyNote" />
        
        <activity
            android:name=".TagManagementActivity"
            android:exported="false"
            android:label="标签管理"
            android:theme="@style/Theme.MyNote" />
        
        <activity
            android:name=".NoteEditActivity"
            android:exported="false"
            android:label="笔记编辑"
            android:theme="@style/Theme.MyNote" />
            
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:label="注册"
            android:theme="@style/Theme.MyNote" />
    </application>

</manifest>